<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="/wad25-hw1/static/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/wad25-hw1/static/ultron.png">
</head>
<body>
    <div class="headsun">My home page</div>
    <img src="/wad25-hw1/static/sun.gif" alt="Описание" class="sun">
    <div class="rectangle">
        <div class="nazvanie">ITMO university</div>
        <div class="kartochka">
            <img src="/wad25-hw1/static/profilePic.jpg" alt="Описание" class="prof">
            <div class="opisanie">
                Name: Ruslan <br>
                Surname: Yurkov<br>
                Specialization: information security<br>
                Course: first year student
            </div>
        </div>
        <img src="/wad25-hw1/static/itmo.png" alt="Описание" class="logo">
        <div class="circle top"></div>
        <div class="circle right"></div>
        <div class="circle bottom"></div>
        <div class="circle left"></div>
    </div>
    <img src="/wad25-hw1/static/wave.gif" alt="Описание" class="wave">
</body>
</html>
